<section>
    <div
        class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 animate-fadeIn duration-2000 ease-in"
    >
        <div>
            <div class="text-center max-w-4xl mx-auto">
                <p
                    class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display mt-8"
                >
                    I develop mobile apps
                </p>
            </div>
            <div class="flex justify-center gap-3 mt-10 flex-col sm:flex-row">
                <a
                    class="items-center justify-center h-12 font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex duration-200 text-black lg:w-auto px-6 py-3 text-center text-black/80 w-full border"
                    href="/about">about me</a
                >
                <a
                    class="items-center justify-center h-12 font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex bg-black border-2 border-black duration-200 focus-visible:ring-black hover:bg-transparent hover:border-black hover:text-black lg:w-auto px-6 py-3 text-center text-white w-full"
                    href="/contact"
                    >reach out &nbsp; &rarr;
                </a>
            </div>
        </div>
    </div>
</section>
