---
import packmateHeader from "public/packmate.png";
import rigifyHeader from "public/rigify.png";
import prohelpHeader from "public/prohelp.png";
---

<section id="projects">
    <div
        class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24"
    >
        <div>
            <h2
                class="text-3xl tracking-tight font-medium text-black md:text-3xl font-display"
            >
                projects <span class="sm:block"></span>
            </h2>
        </div>
        <ul class="mt-12 lg:mt-24 grid grid-cols-1 gap-4 lg:gap-8">
            <li>
                <a href="https://packmate.app" class="h-full flex flex-col">
                    <div
                        class="h-500 w-full bg-cover bg-center bg-no-repeat rounded-lg mb-4 p-4"
                        style="background-color: #fff4ec;"
                    >
                        <img
                            src="/packmate.png"
                            alt="PackMate"
                            class="h-500 w-full object-cover rounded-lg"
                        />

                        <h2 class="mt-2 text-black text-2xl font-extrabold">
                            PackMate
                        </h2>
                        <h3 class="mt-2 text-gray-800">
                            Your Personal Packing Assistant
                        </h3>
                        <div class="flex items-center mt-8">
                            <svg
                                width="25"
                                height="25"
                                viewBox="0 0 25 25"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                class="mr-4"
                            >
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M6.5 4C5.11929 4 4 5.11929 4 6.5V18.5C4 19.8807 5.11929 21 6.5 21H18.5C19.8807 21 21 19.8807 21 18.5V16.5H24V18.5C24 21.5376 21.5376 24 18.5 24H6.5C3.46243 24 1 21.5376 1 18.5V6.5C1 3.46243 3.46243 1 6.5 1H8.5V4H6.5ZM12.5001 1H24V12.5H21V6.12134L13.5608 13.5607L11.4394 11.4393L18.8787 4H12.5001V1Z"
                                    fill="black"></path>
                            </svg>
                            <span class="text-black font-bold"
                                >packmate.app</span
                            >
                        </div>
                    </div>
                </a>

                <!-- Card 2 -->
                <li>
                    <a
                        href="https://play.google.com/store/apps/details?id=com.yamawagi.rigify"
                        class="h-full flex flex-col"
                    >
                        <div
                            class="h-500 w-full bg-cover bg-center bg-no-repeat rounded-lg mb-4 p-4"
                            style="background-color: #262424;"
                        >
                            <img
                                src="/rigify.png"
                                alt="Rigify"
                                class="h-500 w-full object-cover rounded-lg"
                            />

                            <h2 class="mt-2 text-white text-2xl font-extrabold">
                                Rigify
                            </h2>
                            <h3 class="mt-2 text-gray-300">
                                Navigate Riga with Ease
                            </h3>
                            <div class="flex items-center mt-8">
                                <img
                                    src="/play-store.png"
                                    alt="Heart icon"
                                    class="h-6 w-6 mr-2"
                                    style="filter: invert(1);"
                                />
                                <span class="text-white font-bold"
                                    >Play Store</span
                                >
                            </div>
                        </div>
                    </a>

                    <!-- Card 3 -->
                    <li>
                        <a
                            href="https://prohelp.lv"
                            class="h-full flex flex-col"
                        >
                            <div
                                class="h-500 w-full bg-cover bg-center bg-no-repeat rounded-lg mb-4 p-4"
                                style="background-color: #284c3c;"
                            >
                                <img
                                    src="/prohelp.png"
                                    alt="Rigify"
                                    class="h-500 w-full object-cover rounded-lg"
                                />

                                <h2
                                    class="mt-2 text-white text-2xl font-extrabold"
                                >
                                    ProHelp
                                </h2>
                                <h3 class="mt-2 text-gray-300">
                                    -- In Progress --
                                </h3>
                                <div class="flex items-center mt-8">
                                    <svg
                                        width="25"
                                        height="25"
                                        viewBox="0 0 25 25"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="mr-4"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M6.5 4C5.11929 4 4 5.11929 4 6.5V18.5C4 19.8807 5.11929 21 6.5 21H18.5C19.8807 21 21 19.8807 21 18.5V16.5H24V18.5C24 21.5376 21.5376 24 18.5 24H6.5C3.46243 24 1 21.5376 1 18.5V6.5C1 3.46243 3.46243 1 6.5 1H8.5V4H6.5ZM12.5001 1H24V12.5H21V6.12134L13.5608 13.5607L11.4394 11.4393L18.8787 4H12.5001V1Z"
                                            fill="white"></path>
                                    </svg>
                                    <span class="text-white font-bold"
                                        >prohelp.lv</span
                                    >
                                </div>
                            </div>
                        </a>
                    </li>
                </li>
            </li>
        </ul>
    </div>
</section>
