<style>
    .padded {
        padding: 20px; /* Adjust as needed */
    }
    a {
        text-decoration: underline;
        color: #363636;
        font-weight: bold;
    }
    ul li {
        font-size: 1.2em;
        line-height: 1.4;
    }
</style>

<section
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-6"
>
    <div class="p-10">
        <div class="mb-10">
            <h1 class="text-left text-2xl font-bold mb-4">about me</h1>
            <ul class="list-none list-inside space-y-6">
                <li class="mt-8">
                    <b>-</b> Currently, I do freelance app development projects and
                    focus on my <a href="https://enablify.co/" target="_blank"
                        ><b>Agency</b></a
                    >.<br />
                </li>
                <li>
                    <b>-</b> In the past, I have worked professionally as a Mobile
                    developer at <a href="https://chililabs.io/" target="_blank"
                        ><b>Chili</b></a
                    >.<br />
                </li>
                <li>
                    <b>-</b> I also have two of my own apps published on the Play
                    Store called <a
                        href="https://play.google.com/store/apps/details?id=com.yamawagi.rigify"
                        target="_blank"><b>Rigify</b></a
                    > and <a
                        href="https://play.google.com/store/apps/details?id=com.ouji.packmate"
                        target="_blank"><b>PackMate</b></a
                    >.<br />
                </li>
                <li>
                    <b>-</b> I am currently open for new projects or work, so if
                    you need an app or consultancy, <a href="/contact"
                        ><b>contact</b></a
                    > me.
                </li>
            </ul>
        </div>

        <div class="bg-gray-100 p-4 mb-20 rounded max-w-4xl">
            <h1 class="text-left text-2xl font-bold mb-4">what i offer</h1>
            <ul class="list-none list-inside space-y-8">
                <li class="mt-8">
                    - <b>Mobile App Development:</b> I build both iOS and Android
                    apps using <a href="https://flutter.dev/" target="_blank"
                        >Flutter</a
                    >, which makes development quick and affordable.
                </li>
                <li>
                    - <b>Consultation:</b> Not sure if you need an app? I can help
                    you decide and plan the best approach for your project.
                </li>
                <li>
                    - <b>Accessibility Audits:</b> At <a
                        href="https://enablify.co/"
                        target="_blank"><b>Enablify</b></a
                    >, we specialize in making apps and websites accessible for
                    everyone.
                </li>
            </ul>
        </div>

        <div class="text-left">
            <p>
                Reach out at <br /><a
                    class="mailTo"
                    href="mailto:martinssvdev@gmail.com"
                    >martinssvdev@gmail.com</a
                >
            </p>
        </div>
    </div>
</section>
