<style>
    .padded {
        padding: 20px; /* Adjust as needed */
    }
    a {
        text-decoration: underline;
        color: #363636;
        font-weight: bold;
    }
    ul li {
        font-size: 1.2em;
        line-height: 1.4;
    }
</style>

<section
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-6"
>
    <div class="p-10">
        <div class="mb-10">
            <h1 class="text-left text-lg font-bold mb-4">about me</h1>
            <ul class="list-disc list-inside space-y-6">
                <li class="mt-8">
                    Currently, I do freelance app development projects and focus
                    on my <a href="https://enablify.co/" target="_blank"
                        ><b>Agency</b></a
                    >.<br />
                </li>
                <li>
                    In the past, I have worked professionally as a Mobile
                    developer at <a href="https://chililabs.io/" target="_blank"
                        ><b>Chili</b></a
                    >.<br />
                </li>
                <li>
                    I also have two of my own apps published on the Play Store
                    called <a
                        href="https://play.google.com/store/apps/details?id=com.yamawagi.rigify"
                        target="_blank"><b>Rigify</b></a
                    > and <a
                        href="https://play.google.com/store/apps/details?id=com.ouji.packmate"
                        target="_blank"><b>PackMate</b></a
                    >.<br />
                </li>
                <li>
                    I am currently open for new projects or work, so if you need
                    an app or consultancy, <a href="/contact"><b>contact</b></a>
                    me.
                </li>
            </ul>
        </div>
        <h1 class="text-left font-bold mb-4 mt-12 text-lg">what i offer</h1>
        <div class="flex items-center justify-center mt-6">
            <div class="flex flex-wrap -m-4">
                <!-- Card 1 -->
                <div class="p-4 md:w-1/3">
                    <div
                        class="h-full border-2 border-gray-200 rounded-lg overflow-hidden"
                    >
                        <div class="p-6">
                            <div class="flex items-center">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-8 w-8"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z"
                                    ></path>
                                </svg>
                                <h2
                                    class="font-bold text-lg text-gray-900 pl-4"
                                >
                                    Mobile Development
                                </h2>
                            </div>
                            <p class="leading-relaxed mt-2">
                                I build both iOS and Android apps using <a
                                    href="https://flutter.dev/"
                                    target="_blank">Flutter</a
                                >, which makes development quick and affordable.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Card 2 -->
                <div class="p-4 md:w-1/3">
                    <div
                        class="h-full border-2 border-gray-200 rounded-lg overflow-hidden"
                    >
                        <div class="p-6">
                            <div class="flex items-center">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-8 w-8"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                                    ></path>
                                </svg>
                                <h2
                                    class="title-font font-bold text-lg text-gray-900 pl-4"
                                >
                                    Website Development
                                </h2>
                            </div>
                            <p class="leading-relaxed mt-2">
                                I can also build a landing page or a simple
                                website for you
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Card 3 -->
                <div class="p-4 md:w-1/3">
                    <div
                        class="h-full border-2 border-gray-200 rounded-lg overflow-hidden"
                    >
                        <div class="p-6">
                            <div class="flex items-center">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="1.7em"
                                    height="1.7em"
                                    viewBox="0 0 14 14"
                                    ><g
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        ><path
                                            d="M13.5 6.576V10.5a.5.5 0 0 1-.5.5H1a.5.5 0 0 1-.5-.5v-8A.5.5 0 0 1 1 2h6.166M6 11l-1 2.5M8 11l1 2.5m-5 0h6M9.5 2A1.5 1.5 0 1 1 11 3.5v1"
                                        ></path><path
                                            d="M11 7a.25.25 0 1 1 0-.5m0 .5a.25.25 0 1 0 0-.5"
                                        ></path></g
                                    ></svg
                                >
                                <h2
                                    class="title-font font-bold text-lg text-gray-900 pl-4"
                                >
                                    Consultation
                                </h2>
                            </div>
                            <p class="leading-relaxed mt-2">
                                Not sure if you need an app? I can help you
                                decide and plan the best approach for your
                                project
                            </p>
                        </div>
                    </div>
                </div>
                <div class="p-4 md:w-1/3">
                    <div
                        class="h-full border-2 border-gray-200 rounded-lg overflow-hidden"
                    >
                        <div class="p-6">
                            <div class="flex items-center">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="1.7em"
                                    height="1.7em"
                                    viewBox="0 0 24 24"
                                    ><g
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="1.75"
                                        ><path
                                            d="M14 7a2 2 0 1 1-4 0a2 2 0 0 1 4 0Z"
                                        ></path><path
                                            stroke-linecap="round"
                                            d="M18 10s-3.537 1.5-6 1.5S6 10 6 10m6 2v1.452m0 0a3 3 0 0 0 .476 1.623L15 19m-3-5.548a3 3 0 0 1-.476 1.623L9 19"
                                        ></path><path
                                            stroke-linecap="round"
                                            d="M7 3.338A9.954 9.954 0 0 1 12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12c0-1.821.487-3.53 1.338-5"
                                        ></path></g
                                    ></svg
                                >
                                <h2
                                    class="title-font font-bold text-lg text-gray-900 pl-4"
                                >
                                    Accessibility Audits
                                </h2>
                            </div>
                            <p class="leading-relaxed mt-2">
                                At <a
                                    href="https://enablify.co/"
                                    target="_blank"><b>Enablify</b></a
                                >, we offer product accessibility audits
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-left mt-10">
            <p>
                Reach out at <br /><a
                    class="mailTo"
                    href="mailto:martinssvdev@gmail.com"
                    >martinssvdev@gmail.com</a
                >
            </p>
        </div>
    </div>
</section>
