---
import Layout from "../layouts/Layout.astro";
import Container from "@components/Container.astro";
---

<Layout title="About - Martins Svikkalns" description="Learn more about me">
    <Container>
        <h1 class="animate font-semibold text-black dark:text-white">
            About me
        </h1>
        <ul class="list-disc list-inside space-y-6">
            <li class="mt-8">
                Currently, I do freelance app development projects<br />
            </li>
            <li>
                In the past, I have worked professionally as a Mobile developer
                at <a href="https://chililabs.io/" target="_blank"
                    ><b>Chili</b></a
                >.<br />
            </li>
            <li>
                I also have two of my own apps published on the Play Store
                called <a
                    href="https://play.google.com/store/apps/details?id=com.yamawagi.rigify"
                    target="_blank"><b>Rigify</b></a
                > and <a
                    href="https://play.google.com/store/apps/details?id=com.ouji.packmate"
                    target="_blank"><b>PackMate</b></a
                >.<br />
            </li>
            <li>
                I am currently open for new projects or work, so if you need an
                app or ASO tips, <a href="/contact"><b>contact</b></a>
                me.
            </li>
        </ul>
        <h1 class="text-left font-bold mb-4 mt-12">My specialties</h1>
        <div class="flex flex-col gap-4">
            <div
                class="rounded-lg border border-black/15 px-4 py-3 pr-10 transition-colors duration-300 ease-in-out hover:bg-black/5 hover:text-black focus-visible:bg-black/5 focus-visible:text-black dark:border-white/20 dark:hover:bg-white/5 dark:hover:text-white dark:focus-visible:bg-white/5 dark:focus-visible:text-white"
            >
                <div class="flex items-center">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-8 w-8"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z"
                        ></path>
                    </svg>

                    <h2 class="text-l font-bold ml-4">Mobile Development</h2>
                </div>
                <p class="leading-relaxed mt-2">
                    I build both iOS and Android apps using <a
                        href="https://flutter.dev/"
                        target="_blank">Flutter</a
                    >
                </p>
            </div>
            <div
                class="rounded-lg border border-black/15 px-4 py-3 pr-10 transition-colors duration-300 ease-in-out hover:bg-black/5 hover:text-black focus-visible:bg-black/5 focus-visible:text-black dark:border-white/20 dark:hover:bg-white/5 dark:hover:text-white dark:focus-visible:bg-white/5 dark:focus-visible:text-white"
            >
                <div class="flex items-center">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-8 w-8"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                        ></path>
                    </svg>
                    <h2 class="text-l font-bold ml-4">ASO Optimization</h2>
                </div>
                <p class="leading-relaxed mt-2">
                    I know how to effectively optimize app listings by doing
                    keyword and competitor research, A/B testing and screenshot
                    design
                </p>
            </div>
        </div>
    </Container>
</Layout>
