---
const pathName = new URL(Astro.request.url).pathname;
const currentPath = pathName.slice(1);

const underline = "text-decoration: underline";
---

<section class="bg-white border-b border-black/5">
    <div class="w-full mx-auto md:px-12 px-8 max-w-6xl">
        <div
            x-data="{ open: false }"
            class="relative flex flex-col w-full py-5 mx-auto bg-white md:items-center md:justify-between md:flex-row md:px-6"
        >
            <div
                class="flex flex-row items-center justify-between lg:justify-start"
            >
                <a href="/" class="text-black inline-flex items-center gap-3">
                    <span class="font-bold font-display">Martins Svikkalns</span
                    >
                </a>
                <button
                    @click="open = !open"
                    class="inline-flex items-center justify-center p-2 text-gray-400 hover:text-black focus:outline-none focus:text-black md:hidden"
                    aria-label="Toggle mobile menu"
                >
                    <svg
                        class="w-6 h-6"
                        stroke="currentColor"
                        fill="none"
                        viewBox="0 0 24 24"
                    >
                        <path
                            :class="{'hidden': open, 'inline-flex': !open }"
                            class="inline-flex"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16"></path>
                        <path
                            :class="{'hidden': !open, 'inline-flex': open }"
                            class="hidden"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
            </div>
            <nav
                :class="{'flex': open, 'hidden': !open}"
                class="flex-col items-center flex-grow hidden md:pb-0 md:flex md:justify-end md:flex-row justify-between md:flex-1 md:items-center md:w-auto md:space-x-6 md:pb-0 pb-4 w-full"
            >
                <a
                    class="px-2 lg:px-6 py-2 md:px-3 text-sm font-medium text-black hover:text-accent-400 lg:ml-auto"
                    href="/#projects">projects</a
                >
                <a
                    class={"px-2 lg:px-6 py-2 md:px-3 text-sm font-medium text-black hover:text-accent-400  " +
                        (currentPath === "about" ? underline : "")}
                    href="/about"
                >
                    about</a
                >
                <a
                    class={"px-2 lg:px-6 py-2 md:px-3 text-sm font-medium text-black hover:text-accent-400 " +
                        (currentPath === "blog" ? underline : "")}
                    href="/blog">blog</a
                >
                <a
                    class={"px-2 lg:px-6 py-2 md:px-3 text-sm font-medium text-black hover:text-accent-400 " +
                        (currentPath === "contact" ? underline : "")}
                    href="/contact"
                >
                    contact</a
                >
                <div
                    class="inline-flex items-center gap-2 list-none lg:ml-auto"
                >
                    <span
                        class="inline-flex items-center h-8 justify-center px-4 py-2 text-sm font-medium text-black bg-gray-0 rounded-lg group"
                    >
                    </span>
                </div>
            </nav>
        </div>
    </div>
</section>
